{% extends "base.html.j2" %}
{% block title %}serfetchdex{% endblock %}
{% block content %}
    <h1>serfetchdex</h1>
    <p>there's not much to look at here right now, sorry.  maybe click some links?</p>
    <ul>
        <li><a href="/moves">moves</a></li>
        <li><a href="/abilities">abilities</a></li>
    </ul>
    <script type="text/javascript">
        
    </script>
{% endblock %}