{% extends "base.html.j2" %}
{% import "macros/tables.j2:" as table_utils %}
{% block title %}Moves - serfetchdex{% endblock %}
{% block head %}
<script type="text/javascript" src="/static/js/sort-movetable.js"></script>
<link rel="stylesheet" href="/static/icons/icons.css">
{% endblock %}
{% block content %}
    <h1>Moves</h1>
    {{ table_utils.move_table(moves) }}
{% endblock %}