{% extends "base.html.j2" %}
{% block title %}{{move.name}} - serfetchdex{% endblock %}
{% import "macros/tables.j2" as table_utils %}
{% block head %}
<script type="text/javascript" src="/static/js/sort-movetable.js"></script>
<link rel="stylesheet" href="/static/icons/icons.css">
<link rel="stylesheet" href="/static/icons/pokemon.css">
{% endblock %}
{% block content %}
        <span class="move-tagline">
            <h1>{{move.name}}</h1>
            <span class="move-icons">
                <span class="damage-class {{move.damage_class}}" alt="{{move.damage_class|title}} move" title="{{move.damage_class|title}} move"></span>
                <a href="/types/{{move.type}}"><span class="type-bar {{move.type}}" alt="{{move.type|title}}-type move" title="{{move.type|title}}-type move"></span></a>
            </span>
        </span>
        <span class="move-description">
            <h2>Description</h2>
            <hr />
            <p>{{move.flavor_text|parse_links}}</p>
        </span>
        <span class="move-details">
            {% if move.damage_class != "max" %}<table class="move-stats">
                <tbody>
                    <tr>
                        <th>Power</th>
                        <th>Accuracy</th>
                        <th>PP</th>
                    </tr>
                    <tr>
                        <td>{%if move.power%}{{move.power}}{%else%}—{%endif%}</td>
                        <td>{%if move.accuracy%}{{move.accuracy}}%{%else%}—{%endif%}</td>
                        <td>{% if move.pp %}{{move.pp}} (max {{(move.pp * (8/5))|int}}){% else %}—{% endif %}</td>
                    </tr>
                        <th>Target</th>
                        <th>Priority</th>
                    <tr>
                    </tr>
                    <tr>
                        <td>{{move.target.name}}</td>
                        <td>{{move.priority}}</td>
                    </tr>
                </tbody>
            </table>{% endif %}
            {{ table_utils.type_chart(efficiencies) }}
        </span>
    {% if move.damage_class != "max" %}<h2>Flags</h2>
    <hr />
    <ul class="flags">
        {%for flag in all_flags %}<li{%if flag.name not in move_flags%} class="crossed-out"{%endif%}>
            {{flag.name}}
            {%if flag.name in move_flags and flag.description%}<ul><li>{{flag.description|parse_links}}</li></ul>{%endif%}
        </li>{%endfor%}
    </ul>{% endif %}

    <h2>Pokémon</h2>
    <hr />
    {% if move.damage_class == "max" %} {{ table_utils.pokemon_table(_max) }}{% endif %}
    {% if levelup %}<h3>By level-up</h3> {{ table_utils.pokemon_level_table(levelup) }}{% endif %}
    {% if machine %}<h3>By machine</h3> {{ table_utils.pokemon_table(machine) }}{% endif %}
    {% if tutor %}<h3>By tutor</h3> {{ table_utils.pokemon_table(tutor) }}{% endif %}
    {% if egg %}<h3>As an Egg Move</h3> {{ table_utils.pokemon_table(egg) }}{% endif %}
{% endblock %}