{% extends "base.html.j2" %}
{% import "macros/tables.j2" as table_utils %}
{% block title %}Pokémon - serfetchdex{% endblock %}
{% block head %}
<script type="text/javascript" src="/static/js/sort-movetable.js"></script>
{% endblock %}
{% block content %}
    <h1>Pokémon</h1>
    {{ table_utils.pokemon_table(pokemon) }}
{% endblock %}