{% extends "base.html.j2" %}
{% block title %}{{type_name}} - serfetchdex{% endblock %}
{% block head %} <script type="text/javascript" src="/static/js/sort-movetable.js"></script>{% endblock %}
{% block content %}
    <h1>{{type_name}}</h1>
    <span class="type-efficiencies">
        {% for stance in efficiencies %}
        <span class="stance">
            <h3>{{ stance }}</h3>
                <table>
                    {% for efficiency in efficiencies[stance] %}
                    <tr>
                        <th>{{ efficiency }}:</th>
                        <td>
                            <ul>
                                {% if efficiencies[stance][efficiency] %}
                                {% for type in efficiencies[stance][efficiency] %}
                                <li><a href="/types/{{type}}"><img src="/static/icons/type/{{type}}.png" alt="{{type|title}}" title="{{type|title}}" class="type-icon" /></a></li>
                                {% endfor %}
                                {% else %}<li>N/A</li>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
        </span>
        {% endfor %}
    </span>
    <h2>Moves</h2>
    <table class="movelist tablelist">
        <thead>
            <tr>
                <th onclick="onColumnHeaderClicked(event)">Move</th>
                <th onclick="onColumnHeaderClicked(event)">Type</th>
                <th onclick="onColumnHeaderClicked(event)">Class</th>
                <th onclick="onColumnHeaderClicked(event)">Power</th>
                <th onclick="onColumnHeaderClicked(event)">Acc</th>
                <th onclick="onColumnHeaderClicked(event)">PP</th>
                <th onclick="onColumnHeaderClicked(event)">Pri</th>
            </tr>
        </thead>
        <tbody>
        {% for move in moves %}
            <tr>
                <td><a href="/moves/{{move.identifier}}">{{move.name}}</a></td>
                <td><a href="/types/{{move.type}}"><img src="/static/icons/type/{{move.type}}.png" alt="{{move.type|title}}-type move" title="{{move.type|title}}-type move" class="type-icon" /></a></td>
                <td><img src="/static/icons/{{move.damage_class}}.png" alt="{{move.damage_class|title}} move" title="{{move.damage_class|title}} move" /></td>
                <td>{%if move.power%}{{move.power}}{%else%}—{%endif%}</td>
                <td>{%if move.accuracy%}{{move.accuracy}}%{%else%}—{%endif%}</td>
                <td>{{move.pp}}</td>
                <td>{{move.priority}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
