{% extends "base.html.j2" %}
{% import "macros/tables.py" as table_utils %}
{% block title %}{{type_name}} - serfetchdex{% endblock %}
{% block head %}
<script type="text/javascript" src="/static/js/sort-movetable.js"></script>
<link rel="stylesheet" href="/static/icons/icons.css">
{% endblock %}
{% block content %}
    <span class="type-bar {{type_name|lower}}"></span>
    {{ table_utils.type_chart(efficiencies) }}
    <h2>Moves</h2>
    {{ table_utils.move_table(moves) }}
{% endblock %}
